<p>
  register works!
</p>

<h4>Welcome to </h4>
<div class="main">
        
    <form>

        <div class="menu" align="center">
            <p>Register </p>

            <!-- <span >
                Check-In
            </span>
            <br>
          Check-In  <input type="date" name="bday">
            
            
          Check-Out   <input type="date" name="bday">
            <br>
            children :
            <select>
                    <option value="volvo">1</option>
                    <option value="saab">2</option>
                    <option value="mercedes">3</option>
                    <option value="audi">4</option>
                    <option value="audi">5</option>
                  </select>
            <input type="submit">
   
            <br> -->
   
            <div class="col-md-4 col-md-pull-7">
                <div class="booking-form">
                <form>
                <!-- <div class="form-group">
                <span class="form-label">Your Destination</span>
                <input class="form-control" type="text" placeholder="Enter a destination or hotel name">
                </div> -->
                <div class="row">
                
                </div>
                <span class="form-label" >Check out    &nbsp; </span>                          &nbsp;  
                <span class="form-label">&nbsp;Check In</span>
                <div class="form-group">
               
                <input class="form-control" type="date" required="">
                
               
                <input class="form-control" type="date" required="">
               
            </div>
                
            <br>
            <br>
               
                
                
                <div class="form-group">
                <span class="form-label">Rooms</span>
                <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                </select>
                <span class="select-arrow"></span>
               
                <span class="form-label">Adults</span>
                <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                </select>
                <span class="select-arrow"></span>
                
                
                <span class="form-label">Children</span>
                <select class="form-control">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                </select>
                <span class="select-arrow"></span>
                <br>
                <br>
                </div>
                <div class="form-btn">
                <button class="submit-btn">Check availability</button>
                </div>
                </form>
                </div>
                </div>

        </div>
    </form>


