<body>
<h1>Give Feedback</h1>
<br>
<h2>Overall,how did you feel about the service you recieved today ?</h2>
<br>
<form action="">
  <ul>
   <input type="checkbox" name="result" value="Very Satisfied"> Very Satisfied<br>
   <input type="checkbox" name="result" value="Satisfied"> Satisfied<br>
   <input type="checkbox" name="result" value="fair"> Very Satisfied<br>
   <input type="checkbox" name="result" value="Dissatisfied"> Dissatisfied<br>
   <input type="checkbox" name="result" value="Very Dissatisfied"> Very Dissatisfied<br>
  </ul>
  </form>
<br>
<br>
<h2>How could we improve this service</h2>
<br>
<textarea align="center">
    {{name}}

</textarea>
<p>(Limit is 1200 characters)</p>
<p>Please don't include any personal or financial information. </p>
<button>Send Feedback</button>
</body>