

<!-- <ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
 </ul> -->

<!-- Style the side nav for the tab -->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
  <a href="#">Sign in</a>
  <a href="#">Sign up</a>
  <a href="#">View Gallery</a>
  <a href="#">Services</a>
</div>


 
<!-- Tab links -->
<div class="flex-container"  >
   
    
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
     <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">
            &#9776;  </span>  -->

    <button class="tablinks" onmouseover="openCity(event, 'London')"><i class="fa fa-fw fa-home"></i>Sign In</button>
    <button class="tablinks" onmouseover="openCity(event, 'London')"><i class="fa fa-fw fa-search"></i>Sign Up</button>
    <button class="tablinks" onmouseover="openCity(event, 'Paris')"><i class="fa fa-fw fa-envelope"></i>Gallery</button>
    <button class="tablinks" onmouseover="openCity(event, 'Tokyo')"><i class="fa fa-fw fa-login"></i>Services</button>
    
</div>

 <!-- Tab content -->
  

  
 <div id="London" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p> 
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
  </div>
 

  


<router-outlet></router-outlet>
