<html>
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
          var popup = document.getElementById("myPopup");
          popup.classList.toggle("show");
        }
        </script>
        
  <body>
 <!-- Tab content -->
  

 
 <div id="London" class="tabcontent">
    <img src="assets/Hotel-logo.png" alt="logo" height="48px" width="100px">
      

  </div>
  
  <div id="Paris" class="tabcontent">
    <h3>our rooms</h3>
   <p>The Columbia Hotel was originally five Victorian town houses which were combined to create one unique building. As a result all our bedrooms are uniquely sized, offering a diverse selection of accommodation to suit your needs. These range from single rooms to larger family rooms. Our park-facing rooms offer views into Kensington Gardens, while our front and back facing rooms offer a typically quieter stay.</p>
  </div>
  <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
              </div>
              
  <div class="topleft">Top Left</div>

  <main class="grid">
                

      <article>
              <img alt="Sample photo" src="assets/images.jpg">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <div class="btn" align="center">
                    <a class="btn btn-green animate"  id="tag" onclick="openForm()">Book Now</a> &nbsp;<a class="popup" onclick="myFunction()">Read more<span class="popuptext" id="myPopup">A Brief summary about the room!</span></a>
                    </div>
              </div>
      </article>
      <article>
              <img alt="Sample photo" src="assets/bg-pic.png">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <div class="btn" align="center">
                    <a>Book Now</a> &nbsp;<a>Read more</a>
                    </div>
              </div>
      </article>
      <article>
              <img alt="Sample photo" src="assets/download.jpg">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <div class="btn" align="center">
                    <a>Book Now</a> &nbsp;<a>Read more</a>
                    </div>
              </div>
      </article>
      <article>
              <img alt="Sample photo" src="assets/images.jpg">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <div class="btn" align="center">
                    <a>Book Now</a> &nbsp;<a>Read more</a>
                    </div>
              </div>
      </article>
      <article>
              <img alt="Sample photo" src="assets/main.jpg">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                <div class="btn" align="center">
                    <a>Book Now</a> &nbsp;<a>Read more</a>
                    </div>
              </div>
      </article>
      <article>
              <img alt="Sample photo" src="assets/bg-pic.jpg">
              <div class="text">
                <h3>Seamlessly visualize quality</h3>
                <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
               <div class="btn" align="center">
                <a>Book Now</a> &nbsp;<a>Read more</a>
                </div>

              </div>
      </article>
            </main>
            <!-- <button class="open-button" onclick="openForm()">Open Form</button> -->
            <div id="overlay" onclick="closeForm()"></div>
            <div class="form-popup" id="myForm">
              
<div id="booking" class="section">
    <div class="section-center">
    <div class="container">
    
    <div class="col-md-7 col-md-push-5">
    <div class="booking-cta">
    <h1>When would like to </h1>
    
    </div>
    </div>
    <div class="col-md-4 col-md-pull-7" >
    <div class="booking-form" >
    <form class="form-container">
        
    
      <div class="col-sm-4">
            
      
    <div class="form-group">
    <span class="form-label">Your Destination</span>
    <input class="form-control" type="text" placeholder="Enter a destination or hotel name">
    </div>
    </div>
    

    <div class="col-sm-6">
    <div class="form-group">
    <span class="form-label">Check In</span>
    <input class="form-control" type="date" required="">
    </div>
    </div>

    <div class="col-sm-6">
    <div class="form-group">

    <span class="form-label">Check out</span>
    <input class="form-control" type="date" required="">
    </div>
    </div>
    <div class="wor">
    
    <div class="col-sm-6">
    <div class="form-group">

    <span class="form-label">Nights</span>
    <select class="form-control">
<option>1 night</option>
<option>2 nights</option>
<option>3 nights</option>
<option>4 nights</option>
<option>5 nights</option>
<option>6 nights</option>
<option>7 nights</option>
<option>8 nights</option>
<option>9 nights</option>
<option>10 nights</option>
<option>11 nights</option>
<option>12 nights</option>
<option>13 nights</option>
<option>14 nights</option>
<option>15 nights</option>
<option>16 nights</option>
<option>17 nights</option>
<option>18 nights</option>
<option>19 nights</option>
<option>20 nights</option>
<option>21 nights</option>
<option>22 nights</option>
<option>23 nights</option>
<option>24 nights</option>
<option>25 nights</option>
<option>26 nights</option>
<option>27 nights</option>
<option>28 nights</option>
<option>29 nights</option>
<option>30 nights</option>
<option>31 nights</option>
</select>

</div>
</div>

    
    <div class="col-sm-4">
    <div class="form-group">

    <span class="form-label">Rooms</span>
    <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    <span class="select-arrow"></span>

    </div>
    </div>

    <div class="col-sm-4">
    <div class="form-group">
    <span class="form-label">Adults</span>
    <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    </select>
    <span class="select-arrow"></span>
    </div>
    </div>

    <div class="col-sm-4">
    <div class="form-group">
    <span class="form-label">Children</span>
    <select class="form-control">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    </select>
    <span class="select-arrow"></span>
    </div>
    </div>
    
    </div>
   
    <div class="form-btn">
    <button class="submit-btn">Check availability</button>
    </div>

    </form>
   
    </div>
    </div>
    </div>
    </div>
    </div>
    
   
  
              <!-- <form action="/action_page.php" class="form-container">
                <h1>Login</h1>
            
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
            
                <button type="submit" class="btn">Login</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
              </form> -->
            </div>
</body>
</html>