// /* You can add global styles to this file, and also import other style files */
// ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     overflow: hidden;
//     background-color: #333;
    
//    }
   
//    li {
//     float: left;
    
//    }
   
//    li a {
//     display: block;
//     color: white;
//     text-align: center;
//     padding: 14px 16px;
//     text-decoration: none;
    
//    }
   
//    li a:hover {
//     background-color: #111;
//    }
//    html{
//     //background-image: url("tokyo.jpg");
//     height: 100%;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     position: relative;

// }



/* Style the tab *
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    width: 540px;
    height: 45px;

    
  } */
  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color:black;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    padding: 3px 16px;
    font-size: 17px;
    color: white;
    
  }
  .user-sec{
    padding-top: 8px;
    padding-bottom: 10px; 
  }
  /* 
Style the buttons that are used to open the tab content  */
button {
  
    background-color:  inherit;
    border-color: rgb(121, 57, 5);
    border-top-color: rgb(209, 213, 218) !important;
    border-right-color: rgb(209, 213, 218) !important;
    border-bottom-color: rgb(209, 213, 218) !important;
    border-left-color: rgb(209, 213, 218);
    border: 1px solid;
    outline: none;
    cursor: pointer;
    padding: 22px 16px;
    transition: 0.3s;
    text-align: left;
    font-size: 17px;
    color: white;
    border-radius: 6px;
  }
  /* Change background color of buttons on hover */
button:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Create an active/current "tab button" class */
button.active {
  background-color: rgba(0,0,0, 0.4);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #29030369;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .container {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



//              sing up page 


footer
{
    font-size:12px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: auto;
    margin-right:  auto;
    max-width: 1012px;
}
// .flex-container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
    
// }


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google{
  background: orangered;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}  

.auth-form {
  margin: 0 auto;
  width: 340px;
}
.px-3{
  padding-right: 16px;
  padding-left: 16px;
}
.auth-form-body {
  background-color: #fff;
  border: 1px solid;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  padding: 20px;
 /* border-top: 0;*/
  border-radius: 5px;
  border-color: rgb(166, 174, 177);

}


input{
  width: 266px;
  height: 34px;
  border-radius: 5px;
}
.btn-primary {
  background-color: rgb(31, 247, 78);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.create-account-callout {
  background-color: #fff;
  border: 1px solid;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  padding: 20px;
 /* border-top: 0;*/
  border-radius: 5px;
  border-color: rgb(166, 174, 177);
}
.text-right {
  text-align: right;

}
/* .p-b-31{
  padding-bottom: 10px;

} */
.p-b-31{
  padding-top: 0;
  padding-bottom: 10px;   
}
ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  font-size: 12px;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px; */
}
.d-flex {
  display: flex;
}
.flex-justify-center {
  justify-content: center;
}
img { 
  width: 100%;
  height: 190px;
 // opacity: 0.3;
}

.topleft {
  position: absolute;
  top: 120px;
  left: 16px;
  font-size: 35px;
}

/* Split the screen in half */
.split {
  height: 327px;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 450;
  overflow-x: hidden;
  padding-top: 20px;
}

.right {
     right: 0;
     background-color: rgba(0,0,0, 0.4);;
   }

.left {
  left: 0;
  //background-color: rgba(0,0,0, 0.4);;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}  
img .icon { 
  width: 100%;
  height: 100%;
  //opacity: 0.3;
}

.box.box-room .field-bookbnow {
  text-align: center;
}

.box > .field:last-child {
  margin: 0;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap : 20px;
  } 

.grid > article:nth-child(1){
grid-column :span 2;
} 


.grid > article{
border: 1px solid #ccc;
box-shadow : 2px 2px 6px 0px rgba(0,0,0,0.3);
} 
.pic{
width: 200px;
height: 200px;
}

.btn {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  width: 462.5px;
  height: 50px;
  padding: 0 40px;
  font-family: "Gill Sans Std";
  font-size: 14px;
}
.btn.btn-green.animate {
  background: #48645A;
  color: #fff;
  font-weight: 600;
  width: 90px;
  height: 40px;
}
.box.box-room .field-bookbnow .btn {
  line-height: 40px;
}
.btn.btn-green {
  font-weight: 500;
}
a.btn-green.animate{
  height: 80px;
}
// *****************  pop up  **********************
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



/* Book pop up */
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}


/*  slidebar*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: url('/assets/download.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  background: url('/assets/download.png');
  cursor: pointer;
}



/*    css pop form        */
ody {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 425px;
  left: 250px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  //max-width: 300px;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,0, 0.4);;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.wor {display: flex;
}