
<!-- <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->
<!-- <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div> -->
<!-- <nav class="navbar navbar-dark bg-dark">
   Navbar content
</nav>

<nav class="navbar navbar-dark bg-primary">
  Navbar content
</nav> -->


<div class="banner">
    <h1 class="banner-head">
        Book using the App and get 20% off on your next stay .<br>
        Visit the site, open the account and start booking Today.
    </h1>
</div>
<br><br>


      
  


              

              <div class="row">
                  <div class="column">
                    <div class="card">
                      <div class="container">
                      <img src="assets/images (9).jpg" alt="Mike" style="width:100%">

                        <h2 align="center">Single</h2>
                        <p class="title">Columbia</p>
                        <p>Traditional room with a standard double bed and private bathroom. Complimentary Wi-Fi, toiletries, tea and coffee making facilities and daily housekeeping are included.</p>
                        <p>From R1600.00 per Night</p>
                        <p><button class="button"  (click)="onBook()">Book</button></p>
                      </div>
                    </div>
                  </div>
                
                  <div class="column">
                    <div class="card">
                      <div class="container">
                      <img src="assets/download (1).jpg" alt="Mike" style="width:100%">

                        <h2 align="center">Double Room</h2>
                        <p class="title">Art Director</p>
                        <p>Size: 14 – 16 sq.m
                            Traditional room with a standard double bed and private bathroom. Complimentary Wi-Fi, toiletries, tea and coffee making facilities and daily housekeeping are included.</p>
                        <p>from R2000.00 per Night</p>
                        <p><button class="button"  (click)="onBook()">Book</button></p>
                      </div>
                    </div>
                  </div>
                
                  <div class="column">
                    <div class="card">
                      <div class="container">
                      <img src="assets/images (1).jpg" alt="John" style="width:100%">

                        <h2 align="center">Delux Room</h2>
                        <p class="title">Designer</p>
                        <p>Size: 18 – 20 sq.m
                            Traditional room with one double and single bed with a private bathroom. These rooms are perfect for families. Complimentary Wi-Fi, toiletries, tea and coffee making facilities and daily housekeeping are included.</p>
                        <p>From R 2800.00 per Night</p>
                        <p><button class="button"  (click)="onBook()">Book</button></p>
                      </div>
                    </div>
                  </div>
                </div>


              
            <!-- <img alt="Sample photo" src="assets/images (6).jpg" style="width: 100%">
            <div class="text">
              <h3>Seamlessly visualize quality</h3>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
              <div class="btn" align="center">
                  <button class="btn btn-green animate"  (click)="onBook()"> Book Now</button> 
                  </div>
            </div> -->
    


 

<!--    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-free">
                <div class="pricing-table-header">
                    <h2>Personal</h2>

                    <span class="pricing-table-price">
                    <div class="autoFit">
                    <img alt="Sample photo" src="https://columbiahotel.co.uk/wp-content/uploads/2018/05/new-set-3-2-562x424.jpg" id="clsImg"> </div> <span>per month</span>
                    </span>
                </div>


                
                    <div class="text">
                      <h3>Seamlessly visualize quality</h3>
                      <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                      <div class="btn" align="center">
                          <a class="btn btn-green animate"  id="tag" onclick="openForm()">Book Now</a> &nbsp;<a class="popup" onclick="myFunction()">Read more<span class="popuptext" id="myPopup">A Brief summary about the room!</span></a>
                          </div>
                    </div>
            
      
                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-biz pricing-table-selected">
                <div class="pricing-table-header">
                    <h2>Small Business</h2>

                    <span class="pricing-table-price">
                        $25 <span>per month</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free setup</li>
                    <li>Use your own domain</li>
                    <li>Standard customer support</li>
                    <li>10GB file storage</li>
                    <li>5 databases</li>
                    <li>Unlimited bandwidth</li>
                </ul>

                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>

        <div class="pure-u-1 pure-u-md-1-3">
            <div class="pricing-table pricing-table-enterprise">
                <div class="pricing-table-header">
                    <h2>Enterprise</h2>

                    <span class="pricing-table-price">
                        $45 <span>per month</span>
                    </span>
                </div>

                <ul class="pricing-table-list">
                    <li>Free setup</li>
                    <li>Use your own domain</li>
                    <li>Premium customer support</li>
                    <li>Unlimited file storage</li>
                    <li>25 databases</li>
                    <li>Unlimited bandwidth</li>
                </ul>

                <button class="button-choose pure-button">Choose</button>
            </div>
        </div>
    </div> end pricing-tables -->

         <!-- end information -->
 <!-- end l-content -->

<br>
<hr>
<br>



<!-- 
  <div class="row" >
    
        <div class="col-75" style="background-color:lightsalmon" >
          left
          <main class="grid" id="stop">
                  
  
              <article>
                      <img alt="Sample photo" src="assets/images (6).jpg" style="width: 90%">
                      <div class="text">
                        <h3>Seamlessly visualize quality</h3>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
                        <div class="btn" align="center">
                            <!-- <b class="btn btn-green animate"  routerLink=[/book]>Book Now</b> &nbsp;<a class="popup" onclick="myFunction()">Read more<span class="popuptext" id="myPopup">A Brief summary about the room!</span></a>
                            </div> 
                      </div>
               </article>
               </main>
          </div>
          </div>
          <div class="col-25" style="background-color:lightseagreen" align="right">
            right
            <br>
            about the room
          </div>
    

<div class="form-popup" id="myForm">
              
    <div id="booking" class="section">
        <div class="section-center">
        <div class="container">
        
        <div class="col-md-7 col-md-push-5">
        <div class="booking-cta">
        <h1>When would like to Stay</h1>
        
        </div>
        </div>
        <div class="col-md-4 col-md-pull-7" >
        <div class="booking-form" >
        <form class="form-container">
            
        
          <div class="col-sm-4">
                
          
        <div class="form-group">
        <span class="form-label">Name</span>
        <input class="form-control" type="text" placeholder="Enter name">
        </div>
        </div>
        
    
        
        <div class="form-group">
        <span class="form-label">Check In</span><br>
        <input class="form-control" type="date" required="">
        
        </div>
    
        <div class="col-sm-6"> -->
        <!-- <div class="form-group">
    
        <span class="form-label">Check out</span>
        <input class="form-control" type="date" required="">
        </div> 
        </div> 
        <div class="wor">
        
        <div class="col-sm-6">
        <div class="form-group">
    
        <span class="form-label">Nights</span>
        <select class="form-control">
    <option>1 night</option>
    <option>2 nights</option>
    <option>3 nights</option>
    <option>4 nights</option>
    <option>5 nights</option>
    <option>6 nights</option>
    <option>7 nights</option>
    <option>8 nights</option>
    <option>9 nights</option>
    <option>10 nights</option>
    <option>11 nights</option>
    <option>12 nights</option>
    <option>13 nights</option>
    <option>14 nights</option>
    <option>15 nights</option>
    <option>16 nights</option>
    <option>17 nights</option>
    <option>18 nights</option>
    <option>19 nights</option>
    <option>20 nights</option>
    <option>21 nights</option>
    <option>22 nights</option>
    <option>23 nights</option>
    <option>24 nights</option>
    <option>25 nights</option>
    <option>26 nights</option>
    <option>27 nights</option>
    <option>28 nights</option>
    <option>29 nights</option>
    <option>30 nights</option>
    <option>31 nights</option>
    </select>
    
    </div>
    </div>
    
        
        <div class="col-sm-4">
        <div class="form-group">
    
        <span class="form-label">Rooms</span>
        <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        </select>
        <span class="select-arrow"></span>
    
        </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
      
          <span class="form-label">Room  Type</span>
          <select class="form-control">
          <option>Single</option>
          <option>Double</option>
          <option>Delux</option>
          </select>
          <span class="select-arrow"></span>
      
          </div>
          </div>
      
    
        <div class="col-sm-4">
        <div class="form-group">
        <span class="form-label">Adults</span>
        <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        </select>
        <span class="select-arrow"></span>
        </div>
        </div>
    
        <div class="col-sm-4">
        <div class="form-group">
        <span class="form-label">Children</span>
        <select class="form-control">
        <option>0</option>
        <option>1</option>
        <option>2</option>
        </select>
        <span class="select-arrow"></span>
        </div>
        </div>
        
        </div>
       
        <div class="form-btn" align="center">
        <button class="submit-btn" (onclick)="getInfo()">Book</button>
        <button class="submit-btn" onclick="closeForm()">Cancel</button>
    
        </div>
    
        </form>
       
        </div>
        </div>
        </div>
        </div>
        </div>
</div>

<!--        <div class="form-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
              <h1>Login</h1>
          
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" required>
          
              <button type="submit" class="btn">Login</button>
              <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
            </form>
          </div>-->

<div class="footer l-box">
    <p>
        made by Sqaui @ CodeTrbibe2019
    </p>
</div>


<router-outlet></router-outlet>
