.bg_img{
 /* The image used */
 // background-image: url("/assets/bg-pic.jpg") ;
 
 /* Center and scale the image nicely */

}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  body, html {
    color: #4CAF50;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  
  
  }
  .container {
    position: relative;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
   
  }
  .body{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);/* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
  position: relative;
  top: 100%;
  left: 5%;
 // transform: translate(-50%, -50%);
  z-index: 2;
  width: 35%;
  padding: 20px;
  
  }
  