<!-- <body align="center">
<input [(ngModel)]="name">
<br>
<input [(ngModel)]="surname">
<br>
<input [(ngModel)]="age">
<br>
<br>
<!-- <button routerLink="/about">about</button> 
<button (click)="getProfile()">Submit</button>
<br>
<!-- <button routerLink="/content">content</button> -->
<!-- <div align="center">
<p>{{name}}</p>
<p>{{surname}}</p>
<p>{{age}}</p>
</div> 
<br>
<br>
<div>
<textarea align="center" >
 {{name}}
 {{surname}}
 {{age}}
</textarea>
</div>
</body> -->
<body>
<div class="bg_img"  align="center">
    <div class="body">
    <form class="container">
        <h1>Login</h1>
        <br>
        <label for="email"><b>Email</b></label>
        <br>
        <input type="text" placeholder="Enter Email" name="email" required>
        <br>
        <br>
        <label for="Password"><b>Password</b></label>
        <br>
        <input type="Password" placeholder="Enter Password" name="pass" required>
        <br>
        <br>
        <button type="submit" class="btn">Login</button>
    
    </form>
</div>
</div>
<div>

    
</div>


</body>